name: Quick code check

on: [push]

jobs:
  check:
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v2

      - name: Install libasound2-dev (dep of alsa-sys crate)
        run:  sudo apt install libasound2-dev

      - name: Install libudev-dev (dep of libudev-sys crate)
        run:  sudo apt install libudev-dev

      - name: Install stable rust toolchain
        uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          override: true

    - name: Cargo cache
      uses: actions/cache@v2
      id: cache
      with:
        path: |
          ~/.cargo/registry
          ~/.cargo/git
          target
        key: cargo-${{ runner.os }}-${{ hashFiles('**/Cargo.lock') }}
        restore-keys: |
          cargo-${{ runner.os }}-

      - name: Run cargo check
        uses: actions-rs/cargo@v1
        with:
          command: check
          args: --all
