name: Build and release client

on: [push]

env:
  CARGO_TERM_COLOR: always

jobs:
  build-windows:
    runs-on: windows-2019
    steps:
      - uses: actions/checkout@v2

      - name: Install rust toolchain
        uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          override: true

      - name: Run cargo check
        uses: actions-rs/cargo@v1
        with:
          command: check
          args: -p game
