name: Build and release client

on:
  push:
  pull_request:
  release:
    types:
      - created

env:
  CARGO_TERM_COLOR: always

jobs:
  build-assets:
    runs-on: ubuntu-20.04
    steps:
      - name: Pull repository
        uses: actions/checkout@v2

      - name: Install rust toolchain
        uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          override: true

      - name: Install inkscape (to process svg into png)
        run:  sudo apt install inkscape

      - name: Process resources into assets
        run: ./build.sh

      - name: Archive assets as an artifacts
        uses: actions/upload-artifact@v2
        with:
          name: assets
          path: game/assets

  build-linux:
    runs-on: ubuntu-20.04
    needs: [build-assets]
    steps:
      - uses: actions/checkout@v2

      - name: Install rust toolchain
        uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          override: true

      - name: Run cargo build
      - name: Install libasound2-dev (dep of alsa-sys crate)
        run:  sudo apt install libasound2-dev

      - name: Install libudev-dev (dep of libudev-sys crate)
        run:  sudo apt install libudev-dev

      - name: Download assets from build-assets job
        uses: actions/download-artifact@v2
        with:
          name: assets
          path: assets/assets

      - name: Build game
        uses: actions-rs/cargo@v1
        with:
          command: build
          args: -p game

      - name: Build game
        uses: actions/upload-artifact@v2
        with:
          name: zombie_redemption
          path: target/debug/game

      - name: Build game distro
        uses: actions/upload-artifact@v2
        with:
          name: zombie_redemption
          path: assets/assets

  build-windows:
    runs-on: windows-2019
    steps:
      - uses: actions/checkout@v2

      - name: Install rust toolchain
        uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          override: true

      - name: Run cargo build
        uses: actions-rs/cargo@v1
        with:
          command: build
          args: -p game
